!!! 5
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
  body
  .container              
    
    .col-md-4.text-center
      img(src='/images/lamp.png', style="width:130px; margin: 15px")
      br
      button.btn.btn-success.turn-on(style="display: block; width: 100%;") Turn ON
      
      br
        
      button.btn.btn-danger.turn-off(style="display: block; width: 100%;") Turn OFF

  script(src='js/jquery.js')
  script(src='js/main.js')
  script(src='js/bootstrap.min.js')
